
/** main */

.main {
    display: block;
    min-height: 100%;
    width: 100%;
}

.main.hidden {
    display: none; 
}

/** side bar */

.navbar-side {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 300px; 
    height: 100%;
    z-index: 120;
    font-size: 12px;
    text-align: center;
    background-color: #ffffff;
}

.navbar-side ul ul {
    display: none;
}

.navbar-side ul li,
.navbar-side ol li {
    text-align: center;
}

.navbar-side .table {
    display: table;
    width: 100%;
    height: 100%;
}

.navbar-side .header,
.navbar-side .middle,
.navbar-side .footer {
    display: table-row;
    width: 100%;
}

.navbar-side .header {
    vertical-align: top;
}

.navbar-side .middle {
    vertical-align: middle;
    height: 100%;
}

.navbar-side .middle .cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.navbar-side .footer {
    vertical-align: bottom;
}

.navbar-side .horizontal-line { 
    width: 10px;
    height: 1px;
    display: block;
    background-color: #dddddd;
    margin: 26px auto;
}

.navbar-side .footer .horizontal-line {
    width: 10px;
    margin-top: 0;
    margin-bottom: 9px;
}

/* Header logo */
.header .logo {
    padding: 0 0 0 20px;
    display: block;
    margin-top: 40px;
    text-align: center;
}

.header .logo a img {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

.header .logo h1 {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 40px;
    line-height: 1em;
    letter-spacing: 0;
}

.header .logo span {
    display: block;
    font-size: 12px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.56);
}



.menu-button  {
    display: none;
    float: right;
    color: #262626;
    text-transform: uppercase;
    font-size: 12px;
    padding: 30px;
    margin: 9px 0;
    background-color: transparent;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.menu-button:hover,
.menu-button:focus,
.menu-button:active {
    background-color: transparent;
}

.menu-button span  {
    position: relative;
    display: block;
    width: 26px;
    height: 2px;
    background: #262626;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.menu-button:hover span {
    background: #808080;	
}

.menu-button span:before,
.menu-button span:after	 {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 2px;
    background: #262626;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.menu-button span:before  {
    -webkit-transform: rotate(0deg) translateY(-6px);
    -ms-transform: rotate(0deg) translateY(-6px);
    transform: rotate(0deg) translateY(-6px);
}

.menu-button span:after	 {
    -webkit-transform: rotate(0deg) translateY(6px);
    -ms-transform: rotate(0deg) translateY(6px);
    transform: rotate(0deg) translateY(6px);
}

.menu-button:focus span:before,
.menu-button:hover span:before {
    background: #808080;
    -webkit-transform: rotate(90deg) translateY(0);
    -ms-transform: rotate(90deg) translateY(0);
    transform: rotate(90deg) translateY(0);
}

.menu-button:focus span:after,
.menu-button:hover span:after {
    background: #808080;
    -webkit-transform: rotate(-90deg) translateY(0);
    -ms-transform: rotate(-90deg) translateY(0);
    transform: rotate(-90deg) translateY(0);
}

/* max-width 979px */
@media screen and (max-width: 979px) {
    
    .navbar-side {
        display: block;
        width: 100%;
        max-height: 80px;
        padding: 0;
        margin: 0;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    }

    .menu-button {
        display: block;
    }

    .navbar-side .table {
        width: auto;
        height: 80px;
        float: left;
        display: block;
        overflow: hidden;
    }

    .navbar-side .header {
        display: block;
    }

    .navbar-side .middle,
    .navbar-side .footer {
        display: none ! important;
    }

    .navbar-side .logo {
        margin: 0 ! important;
        padding-left: 20px;
    }

    .navbar-side .logo {
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}
