/* 
    Created on : 6 oct. 2016, 14:45:26
    Author     : cdi305
*/

 body {
    overflow-x: hidden;
 }

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    /*background-color: rgba(149, 199, 212, 0.8);*/
    /*background: #5F7F87;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#page-content-wrapper #page-content {
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

#sidebar-wrapper {
    border-right: solid #34495E 1px;
}

.sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    color: #34495E;
    text-indent: 20px;
    line-height: 40px;
    border-left: solid #34495E 0;
    transition: all linear 0.5s;
}

.sidebar-nav li:not(.sidebar-brand):hover {
    border-left-width: 10px; 
}

.sidebar-nav li:not(.sidebar-brand) a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #34495E;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #34495E;
}

.sidebar-nav > .sidebar-brand:hover {
    color: #34495E;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }
    
    #page-content-wrapper #page-content {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}